  
---
---

@import "{{ site.theme }}";

header {
    background: #405D7B url(../images/header-bg.jpg) 0 0 repeat-x;
    font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  }
  
a.button {
    font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  }

#main-content h1 {
    font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  }

#main-content h2 {
    font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  }

#main-content h3 {
    font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  }

body {
    font-family: 'Quicksand', 'Helvetica Neue', Helvetica, Arial, serif;
  }
